<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="['/home']">
        <div class="logo-vet">
          <i class="fa-solid fa-shield-dog"></i>
          <h4>MyVet</h4>
        </div>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Pacientes" nzIcon="file-text">
        <ul>
          <li nz-submenu nzOpen nzTitle="Registro" nzIcon="">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/home/patient']">Pacientes</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/home/owners']">Dueños</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/query']">Consultas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/turn']">Turnos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Usuarios" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/medical']">Médicos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/receptionist']">Recepcionistas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Servicios" nzIcon="shopping">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/hairdressing']">Peluqueria</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/hosting']">Hosting</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Ventas" nzIcon="barcode">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/sale']">Ventas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/product']">Productos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/home/medicine']">Medicamentos</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>