$primary-color: #1890ff;
$background-color: #ffffff;

nz-layout, .inner-content{
	min-height: 100%;
}

nz-header {
	margin: 0 21px;
	background: $background-color;
	border-bottom: 1px solid #edece8;

	.trigger {
		font-size: 19px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color 0.35s;
	}
	
	.trigger:hover {
		color: $primary-color;
	}
}

nz-content {
	margin: 0 21px;

	.inner-content {
		padding: 24px;
		background: $background-color;
	}
}

.logo-vet {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  margin-top: 10px;

  i {
    font-size: 50px;
  }

  h4{
    font-size: 30px;
    color: #1890ff;
  }
}